body {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 50vw;
    height: 40vh;
    background-color: teal;
    color: deeppink;
}

div a {
    text-align: right;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-family: sans-serif;
}